/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/**
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/**
!/.idea/runConfigurations/
!/.idea/runConfigurations/**
!/.idea/gradle.xml
!/.idea/saveactions_settings.xml
/sources/playground
.DS_Store
.gradle
build
out
